{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lessons list</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Lessontype</th>
                <th scope="col">Lessondate</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons %}
            <tr>
                <td scope="row"><a href="{{ path('lessons_show', { 'id': lesson.id }) }}">{{ lesson.id }}</a></td>
                <td>{{ lesson.lessonType }}</td>
                <td>{% if lesson.lessonDate %}{{ lesson.lessonDate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('lessons_show', { 'id': lesson.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('lessons_edit', { 'id': lesson.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" href="{{ path('lessons_new') }}">Create a new lesson</a>
        </li>
    </ul>
{% endblock %}
