{% extends 'base.html.twig' %}

{% block body %}
    <h1>Locaties list</h1>
    <a class="btn btn-success" href="{{ path('locatie_new') }}">Nieuwe locatie</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Stad</th>
                <th>Adres</th>
                <th>Postcode</th>
                <th>Img</th>
                <th>Memo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locatie in locaties %}
            <tr>
                <td><a href="{{ path('locatie_show', { 'id': locatie.id }) }}">{{ locatie.id }}</a></td>
                <td>{{ locatie.stad }}</td>
                <td>{{ locatie.adres }}</td>
                <td>{{ locatie.postcode }}</td>
                <td><img src="{{ asset('uploads/images/' ~ locatie.img) }}"></td>
                <td>{{ locatie.memo }}</td>
                <td>
                            <a href="{{ path('locatie_show', { 'id': locatie.id }) }}"><button type="button" class="btn btn-info">show</button></a>
                            <a href="{{ path('locatie_edit', { 'id': locatie.id }) }}"><button type="button" class="btn btn-primary">edit</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('locatie_new') }}">Nieuwe locatie</a>
{% endblock %}
