{% extends 'base.html.twig' %}

{% block body %}

            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Inschrijf formulier</h2>
                        {{ form_start(form) }}
                        <h5 class="card-title mt-5 text-center">Kies uw locatie</h5>
                        {{ form_row(form.lesNr) }}
                        <h5 class="card-title mt-5 text-center">Uw gekozen locatie is:</h5>
                        <div class="card col-6 offset-md-3 text-center">
                            <div class="card-body">
                                <p class="card-text">Straatnaam + nummer</p>
                                <p class="card-text">Postcode + plaatsnaam</p>
                            </div>
                        </div>
                        <h5 class="card-title mt-5 text-center">Vul uw gegevens in</h5>
                        {{ form_row(form.telefoon) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.lesNr) }}
                        <input class="btn btn-success" type="submit" value="Aanvraag verzenden" />

                    </div>
                </div>
            </div>

{% endblock %}
