{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inschrijving</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inschrijving.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ inschrijving.email }}</td>
            </tr>
            <tr>
                <th>Telefoon</th>
                <td>{{ inschrijving.telefoon }}</td>
            </tr>
            <tr>
                <th>Lessoort</th>
                <td>{{ inschrijving.lesNr }}</td>
            </tr>
            <tr>
                <th>Via</th>
                <td>{{ inschrijving.via }}</td>
            </tr>
            <tr>
                <th>Gebeld</th>
                <td>{{ inschrijving.gebeld }}</td>
            </tr>
            <tr>
                <th>Bevestigd</th>
                <td>{{ inschrijving.bevestigd }}</td>
            </tr>
            <tr>
                <th>Aanwezig</th>
                <td>{{ inschrijving.aanwezig }}</td>
            </tr>
            <tr>
                <th>Ingeschreven</th>
                <td>{{ inschrijving.ingeschreven }}</td>
            </tr>
            <tr>
                <th>Afgezegd</th>
                <td>{{ inschrijving.afgezegd }}</td>
            </tr>
            <tr>
                <th>Sms</th>
                <td>{{ inschrijving.sms }}</td>
            </tr>
            <tr>
                <th>Ipadres</th>
                <td>{{ inschrijving.ipAdres }}</td>
            </tr>
            <tr>
                <th>Apparaat</th>
                <td>{{ inschrijving.apparaat }}</td>
            </tr>
            <tr>
                <th>Browser</th>
                <td>{{ inschrijving.browser }}</td>
            </tr>
        </tbody>
    </table>
    <div class="row centered">
        <div class="buttonsaligned">
            <a href="{{ path('inschrijving_index') }}">
                <button type="button" class="btn btn-warning">Back to the list</button>
            </a>
        </div>
        <div class="buttonsaligned">
            <a href="{{ path('inschrijving_edit', { 'id': inschrijving.id }) }}">
                <button type="button" class="btn btn-primary">Edit</button>
            </a>
        </div>
        <div class="buttonsaligned">
            {{ form_start(delete_form) }}
            <a href="{{ path('inschrijving_actief', { 'id': inschrijving.id }) }}">
                <button type="button" class="btn {{ inschrijving.button }}">{{ inschrijving.btntext }}</button>
             </a>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
