{% extends 'base.html.twig' %}

{% block body %}
    <h1>Location</h1>

    <table class="table table-sm">
        <tbody>
            <tr>
                <th scope="col">Id</th>
                <td>{{ location.id }}</td>
            </tr>
            <tr>
                <th scope="col">Locationcity</th>
                <td>{{ location.locationCity }}</td>
            </tr>
            <tr>
                <th scope="col">Locationadress</th>
                <td>{{ location.locationAdress }}</td>
            </tr>
            <tr>
                <th scope="col">Locationzip</th>
                <td>{{ location.locationZip }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('locations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('locations_edit', { 'id': location.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
