<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Proeflessysteem</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {#TODO Icon voor de website invullen.#}
    {#<link rel="icon" href="{{ asset('') }}"/>#}
    <link rel="stylesheet" href="{{ asset('bundles/proefles/css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);
    </style>
</head>
<body>
{#Admin Check#}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Overzicht</a>
                </li>
                <li>
                    <a href="{{ path('locatie_index') }}">Locaties</a>
                </li>
                <li>
                    <a href="{{ path('inschrijving_index') }}">Studenten</a>
                </li>
                <li>
                    <a href="{{ path('lessen_index') }}">Lessen</a>
                </li>
                <li>
                    <a href="{{ path('user_index') }}">Leraren</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">Leraar aanmaken</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <i class="fas fa-sign-out-alt logouticon"></i>Uitloggen</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}


{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}


</body>
</html>