<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Proeflessysteem</title>

    {#TODO Icon voor de website invullen.#}
    {#<link rel="icon" href="{{ asset('') }}"/>#}
    <link rel="stylesheet" href="{{ asset('bundles/proefles/css/main.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);

        .forms{
            margin-left: 12%;
        }
    </style>
</head>
<body>
{#Admin Check#}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Overzicht</a>
                <a class="nav-item nav-link" href="{{ path('locatie_index') }}">Locaties</a>
                <a class="nav-item nav-link" href="{{ path('inschrijving_index') }}">Studenten</a>
                <a class="nav-item nav-link" href="{{ path('lessen_index') }}">Lessen</a>
                <a class="nav-item nav-link" href="{{ path('user_index') }}">Leraren</a>
                <a class="nav-item nav-link" href="{{ path('fos_user_registration_register') }}">Leraar aanmaken</a>
                <a class="nav-item nav-link" href="{{ path('fos_user_security_logout') }}">
                    <i class="fas fa-sign-out-alt logouticon"></i>Uitloggen</a>
            </div>
        </div>
    </nav>
{% endif %}


{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}
{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}


</body>
</html>