<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/proefles/css/bootstrap.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    <a href="{{ path('locatie_index') }}">Locaties</a>
    <a href="{{ path('lessen_index') }}">Lessen</a>
    <a href="{{ path('inschrijving_index') }}">Inschrijvingen</a>
    <a href="{{ path('categorie_index') }}">Categorieen</a>
    </body>
</html>
