{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>User</h1>

        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            </tbody>
        </table>
        <div class="row centered">
            <div class="buttonsaligned">
                <a href="{{ path('user_index') }}">
                    <button type="button" class="btn btn-warning">Back to the list</button>
                </a>
            </div>
            <div class="buttonsaligned">
                <a href="{{ path('user_edit', { 'id': user.id }) }}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </div>
            <div class="buttonsaligned">
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    {% else %}
        <h1>U dient als admin in te loggen</h1>
    {% endif %}
{% endblock %}
