{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>
    <a class="btn btn-success" href="{{ path('categorie_new') }}">Nieuwe categorie</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Omschrijving</th>
                <th>Maxlessen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.id }) }}">{{ categorie.id }}</a></td>
                <td>{{ categorie.omschrijving }}</td>
                <td>{{ categorie.maxLessen }}</td>
                <td>
                    <a href="{{ path('categorie_show', { 'id': categorie.id }) }}"><button type="button" class="btn btn-info">show</button></a>
                    <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}"><button type="button" class="btn btn-primary">edit</button></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('categorie_new') }}">Nieuwe categorie</a>
{% endblock %}
