{% extends 'base.html.twig' %}
{% block body %}
        {% if is_granted('ROLE_ADMIN') %}
    <h1>Students list</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Studentname</th>
                <th scope="col">Studentlastname</th>
                <th scope="col">Studentphone</th>
                <th scope="col">Studentmail</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>


        {% for student in students %}


            <tr>
                <td scope="row"><a href="{{ path('students_show', { 'id': student.id }) }}">{{ student.id }}</a></td>
                <td>{{ student.studentName }}</td>
                <td>{{ student.studentLastname }}</td>
                <td>{{ student.studentPhone }}</td>
                <td>{{ student.studentMail }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a href="{{ path('students_show', { 'id': student.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('students_edit', { 'id': student.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-success" href="{{ path('students_new') }}">Create a new student</a>
        </li>
    </ul>
        {% else %}
            <h1>U dient als admin in te loggen</h1>
        {% endif %}
{% endblock %}
