{#Dit is onze index page || Homepage#}
{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
    <div class="container">
        <h1>Hallo, {{ app.user |capitalize }}</h1>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Locaties</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="{{ path('locatie_index') }}" role="button">Locatie details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Leraren</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="{{ path('user_index') }}" role="button">Leraren details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Lessen</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="{{ path('lessen_index') }}" role="button">Lessen details &raquo;</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Proeflessers</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-default" href="{{ path('inschrijving_index') }}" role="button">Lijst met proefles aanmelders &raquo;</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Nieuwe leraar aanmaken</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-default" href="{{ path('fos_user_registration_register') }}" role="button">Leraar Aanmaken &raquo;</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; 2018 Iemand&Co, Inc.!</p>
        </footer>
    </div> <!-- /container -->
    {% else %}

    {% endif %}
{% endblock %}
